<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/normalize.css">
  <title>Document</title>
  <link rel="stylesheet" href="./code.css">
</head>
<body>
  
  <div class="contenedor">
    
    <h1 class="titulo">Pokémons</h1>
    
    <div class="card">
      <img class="card__img" src="./imagenes/ninetales.jpg"/>
      
      <div class="card__texto">
        <h2 class="card__titulo">Ninetales</h2>
        
        <p class="card__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, quae atque rem. Ratione, provident, fugit. Nam odio quidem odit nesciunt.</p>
      </div>

    </div>
    
    <div class="card">
      <img class="card__img" src="./imagenes/suicune.jpg"/>
      
      <div class="card__texto">
        <h2 class="card__titulo">Suicune</h2>
        
        <p class="card__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, quae atque rem. Ratione, provident, fugit. Nam odio quidem odit nesciunt.</p>
      </div>
      
    </div>
    
    <div class="card">
      <img class="card__img" src="./imagenes/pikachu.jpg"/>
      
      <div class="card__texto">
        <h2 class="card__titulo">Pikachu</h2>
        
        <p class="card__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, quae atque rem. Ratione, provident, fugit. Nam odio quidem odit nesciunt.</p>
      </div>
    </div>
    
  </div>
  
  <script src="./code.js"></script>
  
</body>
</html>